* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
}

/* Navigation Bar: Logo and Image */
#logo {
    margin: 5px 30px;
}

#logo img {
    height: 80px;
    margin: 3px 6px;
}

/* Navigation Bar: List Styling */
#navbar ul {
    display: flex;
}

#navbar::before {
    content: "";
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.99;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: #fff;
    display: block;
    padding: 8px 20px;
    font-weight: 700;
    border-radius: 25px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .5s;

    &:hover {
        color: #000;
        background-color: #fff;
    }
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url("https://i.etsystatic.com/16895977/r/il/4cc235/4805810802/il_fullxfull.4805810802_e7eh.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: white;
    text-align: center;
}

#home P {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

#home a {
    text-decoration: none;
}

/* Services Section */
#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid #ff0000;
    margin: 3px 6px;
    padding: 34px;
    border-radius: 10px;
    background: #f2f2f2;
    transition: all .5s;

    &:hover {
        transform: translate(1);
    }
}

#services .box img {
    height: 150px;
    display: block;
    margin: auto;
}

#services .box p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Client Section */
#client-section {
    position: relative;
    /* height: 310px; */
}

#client-section::before {
    content: "";
    position: absolute;
    background: url("https://st2.depositphotos.com/2431711/43981/i/450/depositphotos_439817924-stock-photo-tasty-vegetable-pizza.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#client {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 10px 40px;
}

#client img {
    height: 125px;
}

/* Contact Section */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('https://c0.wallpaperflare.com/preview/262/377/184/person-holding-smartphone.jpg') no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
}

footer {
    background: #000;
    color: #fff;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary {
    font-size: 3.8rem;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.h-secondary {
    font-size: 1.8rem;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: #ff0000;
    color: #fff;
    margin: 17px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 10px;
}

.center {
    text-align: center;
}